/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/workspace.xml
resources/biashara-271309-44f3fc73f63b.json
resources/biashara-271309-f31920090992.json

resources/biashara-272909-e700872b0231.json
