/* Demand page
------------------------- */
.checkBoxDiv{
    align-items: center;
    margin-bottom: 10px;
}
.checkBox{
    margin: 0px 10px;

}

.checkBoxLable{
    width: 36%;
    text-align: start;
}